body{
    background-color: aqua;
    color: blue;
    font-family: sans-serif;
    
}
.App{
    background-color: blueviolet;
    color: chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
};

.App ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
};
.App a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 25rem;

};
.App li.active{
    background-color: brown;  
};
.App li.hover{
    background-color: crimson;
};